

.media {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
}
.MuiCardMedia-media {
  margin-right: auto;
  object-fit: contain;
}

.MuiTypography-h1 {
  font-weight: bolder;
  text-decoration: underline overline;
}

.MuiTypography-h2 {
  font-weight: 900;
  text-align: center;
}

